.merriweather-h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.merriweather-div {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
}

body {
    background-color: #000000;
}

header {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    justify-items: center;
}

h1 {
    background-color: #cdcdcd;
    color: #000000;
    border-radius: 10px;
    width: 200px;
}

#drivers {
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

#drivers > div {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-color: #d5d5d5;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    width: 300px;
    height: 500px;
    cursor: pointer;
}

.format {
    font-size: 20px;
    font-style: bold;
}

/*.left {
    margin: 40px 10px 10px 200px;
}

.right {
    margin: 40px 200px 10px 10px;
}*/

.alpine {
    background-color: #0085C0;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
    color: #ffffff;
}

.alpine:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(105, 155, 255);
}

.aston {
    background-color: #186B4F;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
    color: #ffffff;
}

.aston:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgba(15, 255, 79, 0.87);
}

.audi {
    background-color: #D9002A;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
}

.audi:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(255, 105, 105);
}

.cadillac {
    background-color: #868689;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
    color: #ffffff;
}

.cadillac:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(221, 221, 221);
}

.ferrari {
    background-color: #D9002A;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
}

.ferrari:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(255, 105, 105);
}

.haas {
    background-color: #CDD1D2;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
}

.haas:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(114, 114, 114);
}

.mclaren {
    background-color: #F27900;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
}

.mclaren:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(255, 147, 15)
}

.mercedes {
    background-color: #23E4C4;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
}

.mercedes:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(105, 255, 190);
}

.racing_bulls {
    background-color: #5886F7;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
}

.racing_bulls:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(105, 155, 255);
}

.redbull {
    background-color: #3166B4;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
    color: #ffffff;
}

.redbull:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(82, 108, 255);
}

.williams {
    background-color: #114693;
    border: 2px solid #ffffff;
    box-shadow:none;
    transition-duration: border;
}

.williams:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    box-shadow: 5px 2px 2px rgb(27, 103, 255);
    color: #ffffff;
}