* {
    margin: 0;
}

body {
    background-color: #000000;
}

header {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    justify-items: center;
}

h1 {
    background-color: #cdcdcd;
    color: #000000;
    border-radius: 10px;
    width: 200px;
}

#drivers {
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    gap: 10px;
    justify-content: center;
    justify-items: center;
}

#drivers > div {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid #d5d5d5;
    border-color: #d5d5d5;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    width: 300px;
    height: 500px;
    cursor: pointer;
    transition-duration: border;
}    


#drivers > div:hover {
    transition-duration: 1.5s;
    transform: translateY(-5px);
    margin-top:-5px;
    border: 10px solid rgb(255, 255, 255)
}

/*.left {
    margin: 40px 10px 10px 200px;
}

.right {
    margin: 40px 200px 10px 10px;
}*/

.alpine {
    background-color: #0085C0;
}

.aston {
    background-color: #186B4F;
}

.audi {
    background-color: #D9002A;
}

.cadillac {
    background-color: #868689;
}

.ferrari {
    background-color: #D9002A;
}

.haas {
    background-color: #CDD1D2;
}

.mclaren {
    background-color: #F27900;
}

.mercedes {
    background-color: #23E4C4;
}

.racing_bulls {
    background-color: #5886F7;
}
.redbull {
    background-color: #3166B4
}

.williams {
    background-color: #114693;
}